@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
		to right top,
		#008e9b,
		#1d818c,
		#28747d,
		#2e676e,
		#315b60,
		#2d575f,
		#2a525d,
		#284e5b,
		#254f66,
		#2c4f70,
		#3c4d77,
		#51497a
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	font-family: "Lato", sans-serif;
}

.container {
	margin: 30px auto;
	width: 350px;
}

h1 {
	letter-spacing: 1px;
	margin: 0;
	color: #95b0b4;
}

h2 {
	color: #95b0b4;
}

h3 {
	border-bottom: 1px solid #bbb;
	padding-bottom: 10px;
	margin: 40px 0 10px;
	color: #95b0b4;
}

h4 {
	margin: 0;
	text-transform: uppercase;
	color: #95b0b4;
}

.inc-exp-container {
	background-color: #002c38;
	box-shadow: var(--box-shadow);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	border-radius: 10px;
	transition-duration: 0.4s;
}

.inc-exp-container:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.inc-exp-container > div {
	flex: 1;
	text-align: center;
}

.inc-exp-container > div:first-of-type {
	border-right: 1px solid #dedede;
}

.money {
	font-size: 20px;
	letter-spacing: 1px;
	margin: 5px 0;
}

.money.plus {
	color: #2ecc71;
}

.money.minus {
	color: #c0392b;
}

label {
	display: inline-block;
	margin: 10px 0;
}

input[type="text"],
input[type="number"] {
	border: 1px solid #344e74;
	border-radius: 5px;
	display: block;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	background-color: #0a2c38;
	color: #95b0b4;
}

.btn {
	cursor: pointer;
	background-color: #95b0b4;
	box-shadow: var(--box-shadow);
	color: #0a2c38;
	border: 1px solid;
	border-radius: 5px;
	display: block;
	font-size: 16px;
	margin: 10px 0 30px;
	padding: 10px;
	width: 100%;
	transition-duration: 0.4s;
}

.btn:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:focus,
.delete-btn:focus {
	outline: 0;
}

.list {
	list-style-type: none;
	padding: 0;
	margin-bottom: 40px;
}

.list li {
	background-color: #0a2c38;
	box-shadow: var(--box-shadow);
	color: #95b0b4;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
	margin: 10px 0;
}

.list li.plus {
	border-right: 5px solid #2ecc71;
}

.list li.minus {
	border-right: 5px solid #c0392b;
}

.delete-btn {
	cursor: pointer;
	background-color: #e74c3c;
	border: 0;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	padding: 2px 5px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
	opacity: 1;
}

@media (max-width: 320px) {
	.container {
		width: 300px;
	}
}
